@tailwind base;
@tailwind components;
@tailwind utilities;

/*#region font*/
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw3aXpsog.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
/*#endregion */

/*#region colourSchemes*/
  :root {                       /*colour scheme for light mode*/
    --background-light: rgb(255, 255, 255);
    --background-dark: rgb(240, 240, 240);
    --text-one: rgb(33, 33, 33);
    --text-two: rgb(0, 122, 116);
    --text-three: rgb(77, 77, 77);
  }

  @media (prefers-color-scheme: dark) {
    :root {                       /*colour scheme for dark mode*/
      --background-light: rgb(0, 31, 51);
      --background-dark: rgb(8, 21, 33);
      --text-one: rgb(222, 185, 146);
      --text-two: rgb(27, 160, 152);
      --text-three: rgb(110, 133, 148);
    }
  }

  :root[data-theme="light"]{
    --background-light: rgb(255, 255, 255);
    --background-dark: rgb(240, 240, 240);
    --text-one: rgb(0, 122, 116);
    --text-two: rgb(33, 33, 33);
    --text-three: rgb(77, 77, 77);
  }

  :root[data-theme="dark"]{
    --background-light: rgb(0, 31, 51);
    --background-dark: rgb(8, 21, 33);
    --text-one: rgb(222, 185, 146);
    --text-two: rgb(27, 160, 152);
    --text-three: rgb(110, 133, 148);  
  }
/*#endregion*/

body {                       
  color: var(--text-one);
  background: var(--background-dark);
}

.text{
  color: var(--text-three);
  font-family: 'Montserrat', sans-serif;
}

.custom-list {
  list-style-type: disc; 
  margin-left: 20px; 
}

.toast {
  position: fixed;
  padding: 10px;
  top: 90px; 
  right: 20px;
  background-color: var(--background-light);
  color: var(--text-one);
  border-radius: 10px;
  border: 1px ridge var(--text-one);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}


/*#region main*/
  .main-blur {
    animation: blurIn 1s ease-in-out forwards;

  }

  @keyframes blurIn{
    0%{
      filter: blur(8px);
    }
    100%{
      filter: blur(0);
    }
  }
/*#endregion*/

/* #region Likert Styling */

  fieldset.likertScale{   /*general scale*/
    color: var(--text-one);
    padding: 1em;
    border-bottom: 2px dashed var(--text-three);  
    border-radius: 0em;
    display: block;
    margin-bottom: 25px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    width: 80%;
  }

  fieldset.likertScale .likertIndicator{    /*the circles*/
    border: thin solid;
    border-color: var(--text-three);
    background-color: var(--background-dark);
    font-size: 150%;
  }

  fieldset.likertScale .likertResponse > input:checked + .likertIndicator { /*when select*/
    background-color: var(--text-two);
  }

  fieldset.likertScale .likertResponse:hover .likertIndicator {  /*when hover*/
    background-color: var(--text-two);
  }

  fieldset.likertScale .likertLine{   /*connecting line*/
    border-top: 2px solid;
    border-color: var(--text-three);
  }

  fieldset.likertScale.noLine .likertLine {
    border-top: 0px;
  }

  fieldset.likertScale .likertText{  /*response text*/
    color: var(--text-two);
  }

  .likert-fade{
    animation: likertFade 0.5s forwards;
  }

  @keyframes likertFade{
    0%{
      opacity: 1;
    }
    100%{
      opacity: 0.25;
    }
  }

/* #endregion*/

/*#region intro*/
  .intro-fill{
    background: var(--background-light);
    border-color: transparent;
    width: 100%;
    height: 50%;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
    padding-left: 20px;
  }

  .title-up{
    animation: titleUp 2s forwards;
  }

  @keyframes titleUp{
    0%{
      transform: translateY(0px);
    }
    100%{
      transform: translateY(-100%);
      visibility: hidden;
    }
  }

  @media screen and (max-width: 600px) {
    @keyframes titleUp {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(-65%); 
        visibility: hidden;
      }
    }
  }

  @media screen and (min-width: 601px) and (max-width: 1024px) {
    @keyframes titleUp {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(-75%); 
        visibility: hidden;
      }
    }
  }

  .intro-accept{
    background: var(--background-light);
    border-color: transparent;
    width: 250px;
    height: 75px;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: larger;
    border: 1px solid var(--text-three);
  }

  .button-fade{
    animation: buttonFade 1s forwards;
  }

  @keyframes buttonFade{
    0%{
      opacity: 1;
      visibility: visible;
    }
    30%{
      transform: translateY(-10px);
    }
    100%{
      opacity: 0;
      visibility: hidden;
      transform: translateY(10px);
    }
  }

  .intro-title{
    color: var(--text-one);
    line-height: 1.15;
  }

  .version-text{
    font-size: 10px;
  }
  
  .intro-text{
    color: var(--text-three);
  }

  .intro-icon{
    color: var(--text-two);
    font-size: 200%;
  }

  
  @media screen and (max-width: 600px)  {
    .intro-icon{
      color: var(--text-two);
      font-size: 100%;
    }
  }

  .intro-box{
    display: flex;
    flex-direction: column;
    background: var(--background-light);
    border: 1px solid var(--text-three);
    border-radius: 5px;
    width: 25%;
    height: 200px;
    margin-top: -15%;
    text-align: center;
    align-items: center;
    padding: 10px;
  }

  .info-up{
    animation: infoUp 2s forwards;
  }

  @keyframes infoUp{
    0%{
      transform: translateY(0px);
    }
    100%{
      transform: translateY(-100%);
    }
  }

  @media screen and (max-width: 600px) {
    @keyframes infoUp {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(-65%);
      }
    }
  }

  @media screen and (min-width: 601px) and (max-width: 1024px) {
    @keyframes infoUp {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(-75%); 
      }
    }
  }

  .border-line{
    top: 100%;
    left: 50%;
    width: 10%; 
    height: 1.5px;
    background-color: var(--text-one);
    transform: translateX(0%) translateY(75px);
    border-radius: 99%;
    animation: growLine 4s forwards;
    z-index: 2;
  }
  
  @keyframes growLine{
    0%{
      width: 0;
    }
    100%{
      width: 75%;
    }
  }
/*#endregion*/

/*#region header*/
  .header{
    padding: 1vw;
    height: 75px;
    background: var(--background-light);
    border-color: var(--text-one);
    border-radius: 0%;
    color: var(--text-two);
    z-index: 2;
    font-family: 'Montserrat', sans-serif;
    animation: fadeShadowOut 0.5s forwards;
  }

  .header-shadow{
    animation: fadeShadowIn 0.5s forwards;
  }

  @keyframes fadeShadowIn{
    0%{
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0);
    }
    100%{
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    }
  }
  @keyframes fadeShadowOut{
    0%{
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    }
    100%{
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0);
    }
  }

  .header-text{
    font-size: 20px;
    font-style: italic;
  }

  .header-icon{
    font-size: 300%;
    color: var(--text-two);
  }
/*#endregion*/


