@tailwind base;
@tailwind components;
@tailwind utilities;

:root {                       /*colour scheme for light mode*/
  --background-dark: rgb(247, 234, 222);
  --background-light: rgb(255, 224 , 204, 0.9);
  --text-one: rgb(33, 70, 109);
  --text-two: rgb(228, 95, 103);
  --text-three: rgb(145, 122, 107);
}

@media (prefers-color-scheme: dark) {
  :root {                       /*colour scheme for dark mode*/
    --background-dark: rgb(8, 21, 33);
    --background-light: rgba(0, 31, 51, 0.95);
    --text-one: rgb(222, 185, 146);
    --text-two: rgb(27, 160, 152);
    --text-three: rgb(110, 133, 148);
  }
}

body {                       /*applies the colour schemes*/
  color: var(--text-one);
  background: var(--background-dark);
}

.text{
  color: var(--text-three);
}

.box{
  background: var(--background-light);
  border-color: transparent;
}

.custom-list {
  list-style-type: disc; /* You can change 'disc' to other values like 'circle' or 'square' for different bullet styles */
  margin-left: 20px; /* Adjust the margin as needed */
}


/*things for main*/
.main-blur {
  animation: blurIn 1s ease-in-out forwards;

}

@keyframes blurIn{
  0%{
    filter: blur(5px);
  }
  100%{
    filter: blur(0);
  }
}

fieldset.likertScale{   /*general scale*/
  color: var(--text-one);
  padding: 1em;
  border: thin solid; 
  border-color: var(--text-three);
  border-radius: 1em;
  display: block;
  font-size: 20px;
  margin-bottom: 25px;
}

fieldset.likertScale .likertIndicator{    /*the circles*/
  border: thin solid;
  border-color: var(--text-three);
  background-color: var(--background-dark);
}

fieldset.likertScale .likertResponse > input:checked + .likertIndicator { /*when select*/
  background-color: var(--text-two);
}

fieldset.likertScale .likertResponse:hover .likertIndicator {  /*when hover*/
  background-color: var(--text-two);
}

fieldset.likertScale .likertLine{   /*connecting line*/
  border-top: 2px solid;
  border-color: var(--text-three);
}

fieldset.likertScale.noLine .likertLine {
  border-top: 0px;
}

fieldset.likertScale .likertText{  /*response text*/
  color: var(--text-two);
}


/*things for the intro*/

.intro-box{
  background: var(--background-light);
  border-color: transparent;
  animation: fadeInUp 2s ease-in-out 0.5s forwards;
  opacity: 0;
  z-index: 1;
}

.fade-out {
  animation: fadeOut 1s ease-in-out forwards;
}

@keyframes fadeInUp{
  0%{
    opacity: 0;
    transform: translateY(100px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut{
  0%{
    opacity: 1;
    transform: translateY(0);
  }
  100%{
    opacity: 0;
    transform: translateY(100px);
  }
}


/*things for the header*/

.header{
  position: fixed;
  top: 0;
  left: 0;
  padding: 1.25vw;
  background: var(--background-light);
  border-color: var(--text-one);
  border-radius: 0%;
  color: var(--text-two);
  z-index: 2;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.border-line{
  position: absolute;
  top: 100%;
  left: 50%;
  width: 10%; 
  height: 0.1vw;
  background-color: var(--text-one);
  transform: translateX(-50%) translateY(-50%);
  border-radius: 99%;
  animation: growLine 4s forwards;
}

@keyframes growLine{
  0%{
    width: 0;
    visibility: visible;
  }
  100%{
    width: 100%;
    visibility: visible;
  }
}

.header-text{
  font-size: 1vw;
  font-style: italic;
}